# Stack Overflow API
STACKOVERFLOW_API_KEY=your_so_api_key_here

# GitHub API
GITHUB_TOKEN=your_github_pat_here

# AWS
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_DEFAULT_REGION=ap-south-1
S3_BUCKET=sre-llmops-artifacts

# Dataset
DATASET_VERSION=v1
MAX_SO_PAGES=50
MAX_GITHUB_ISSUES=500
